.vscode/**
.vscode-test/**
src/**
docker/**
.git/**
.github/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.ts
**/tsconfig.json
**/.eslintrc.json
**/.prettierrc
**/*.map
node_modules/.cache/**
.npm-cache/**
_context-output/**
_context/**
!out/**
!README.md
!CHANGELOG.md
!LICENSE
!package.json
